:root {
    --primary-color: #00618b;
}

.date-picker {
    position: relative;
    display: flex;
}

.date-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc !important;
    border-radius: 0 4px 4px 0;
    width: 152px;
    /* Adjusted to fit within the 200px calendar width */
}

.disabled-background {
    background-color: #e9ecef !important;
}

.date-input:focus {
    outline: none;
    border-color: #ced4da;
    box-shadow: none;
}

.calendar {
    position: absolute;
    top: 30px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
    /* Set the width of the calendar to 200px */
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    /* Adjusted padding to fit within the 200px calendar width */
    background: #f0f0f0;
    border-bottom: 1px solid #ccc;
}

.calendar-header .arrow {
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
    /* Set the width of the arrows to fit-content */
}

.calendar-header span {
    display: flex;
    align-items: center;
    font-size: 16px;
    direction: ltr;
    cursor: pointer;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    padding: 5px;
    /* Adjusted padding to fit within the 200px calendar width */
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    /* Increased font size */
}

.calendar th {
    background: #f0f0f0;
}

.calendar td:hover {
    background: #e0e0e0;
}

.calendar .workday {
    background: #d9edf7;
}

.calendar .today {
    background: #fdf59a;
}

.calendar .selected {
    background: #007bff;
    color: white;
}

.calendar .prev-month,
.calendar .next-month {
    color: #ccc;
    /* Set the color to gray for days from previous and next month */
}

.month-picker,
.year-picker {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    /* Adjusted padding to fit within the 200px calendar width */
}

.month-picker div,
.year-picker .years div {
    width: 33.33%;
    padding: 5px;
    /* Adjusted padding to fit within the 200px calendar width */
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    /* Increased font size */
}

.month-picker div:hover,
.year-picker .years div:hover {
    background: #e0e0e0;
}

.year-picker {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year-picker .years {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    direction: ltr;
    /* Added to ensure left-to-right display */
}

.calendar-footer {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background: #f0f0f0;
    border-top: 1px solid #ccc;
}

.footer-button {
    cursor: pointer;
    font-size: 14px;
    padding: 1.5px;
}

.footer-button:hover {
    background: #e0e0e0;
}

.preset-select {
    padding-right: 20px; /* Add some padding to the right to make space for the icon */
    border: 1px solid #ccc; /* Add border if needed */
    border-radius: 4px 0 0 4px; /* Add border radius to the right side */
    height: 30px; /* Adjust the height if needed */
    width: 24px;
    cursor: pointer; /* Change cursor to pointer */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    border-right: none; /* Remove left border */
}

.preset-select:focus {
    outline: none;
    border-color: #ced4da;
    box-shadow: none;
}

.calendar-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px; /* Add padding to center the icon */
    border: 1px solid #ccc;
    cursor: pointer; /* Change cursor to pointer */
    width: 24px;
    border-right: none; /* Remove left border */
    color: var(--primary-color);
}

.calendar-icon-container.rounded-left {
    border-radius: 4px 0 0 4px; /* Add left border radius */
}

.preset-select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px; /* Add padding to center the icon */
    border: 1px solid #ccc; /* Add border */
    border-radius: 4px 0 0 4px; /* Add border radius to the right side */
    border-right: none;
    height: 30px; /* Adjust the height if needed */
    width: 24px;
    cursor: pointer; /* Change cursor to pointer */
    position: relative; /* For dropdown positioning */
}

.preset-select i {
    color: var(--primary-color); /* Use CSS variable for color */
}

.preset-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1000;
    width: max-content;
}

.preset-option {
    padding: 8px;
    cursor: pointer;
}

.preset-option:hover {
    background-color: #f0f0f0;
}
